@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

@theme {
  --font-display: "Manrope", sans-serif;
  --color-primary: #b613ec;
  --color-background-light: #f8f6f8;
  --color-background-dark: #1d1022;
}

@layer base {
  body {
    @apply font-display bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(182, 19, 236, 0.05);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(182, 19, 236, 0.3);
  border-radius: 10px;
}
